# 空函数

In [1]:
def nop():
    pass

#  返回多值

In [2]:
import math

def move(x, y, step, angle=0):
    nx = x + step * math.cos(angle)
    ny = y - step * math.sin(angle)
    return nx, ny

x, y = move(100, 100, 60, math.pi / 6)
print(x, y)

151.96152422706632 70.0

# 默认参数

In [6]:
def power(x, n=2):
    s = 1
    while n > 0:
        n = n - 1
        s = s * x
    return s

print(power(5))
print(power(5,3))

25
125

In [7]:
# 多参数
def enroll(name, gender):
    print('name:', name)
    print('gender:', gender)

enroll('Sarah', 'F')

name: Sarah
gender: F

In [8]:
def enroll(name, gender, age=6, city='Beijing'):
    print('name:', name)
    print('gender:', gender)
    print('age:', age)
    print('city:', city)

enroll('Sarah', 'F')

name: Sarah
gender: F
age: 6
city: Beijing

# 不变对象

In [11]:
def add_end(L=None):
    if L is None:
        L = []
    L.append('END')
    print(L)
    return L

add_end()
add_end()

['END']
['END']

['END']

# 可变参数

In [12]:
def calc(*numbers):
    sum = 0
    for n in numbers:
        sum = sum + n * n
    return sum

print(calc(1,2,3,4,5))
print(calc(1))

55
1

# 关键字参数

In [13]:
def person(name, age, **kw):
    print('name:', name, 'age:', age, 'other:', kw)

person('Michael', 30)

extra = {'city': 'Beijing', 'job': 'Engineer'}
person('Jack', 24, city=extra['city'], job=extra['job'])

name: Michael age: 30 other: {}
name: Jack age: 24 other: {'city': 'Beijing', 'job': 'Engineer'}

# 命名关键字参数

In [14]:
def person(name, age, **kw):
    if 'city' in kw:
        # 有city参数
        pass
    if 'job' in kw:
        # 有job参数
        pass
    print('name:', name, 'age:', age, 'other:', kw)

person('Jack', 24, city='Beijing', addr='Chaoyang', zipcode=123456)

name: Jack age: 24 other: {'city': 'Beijing', 'addr': 'Chaoyang', 'zipcode': 123456}

In [15]:
def person(name, age, *, city='Beijing', job):
    print(name, age, city, job)

person('Jack', 24, job='Engineer')

Jack 24 Beijing Engineer

# 参数组合
必选参数、默认参数、可变参数、关键字参数、命名关键字参数可以组合使用。但是顺序一定要按照这个来

In [1]:
def f1(a, b, c=0, *args, **kw):
    print('a =', a, 'b =', b, 'c =', c, 'args =', args, 'kw =', kw)

def f2(a, b, c=0, *, d, **kw):
    print('a =', a, 'b =', b, 'c =', c, 'd =', d, 'kw =', kw)

f1(1, 2)

a = 1 b = 2 c = 0 args = () kw = {}

In [2]:
f1(1,2,3,'a','b','c',chance='66')

a = 1 b = 2 c = 3 args = ('a', 'b', 'c') kw = {'chance': '66'}